.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.reportGroup{
	margin-top:10%;
	margin-left:15%; 
	margin-right:15%;
	width: 70%;
	border: 3px solid #fb942b;
	border-radius: 10px;
}

.button {
	  background-color: rgba(122,2,60,1);
      overflow: hidden;
	  margin-left:30%;
	  margin-right:30%;
	  margin-top:10px;
	  margin-bottom:10px;
	  width:40%;
      display: block;
      font-size: 18px;
      color: #FFFFFF;
      text-align: center;  
      text-decoration: none;
		border-radius:25px;
    }

    .button:hover {
      background-color: #923d66;
    }

.button1 {
	  background-color: rgba(122,2,60,1);
      overflow: hidden;
	  margin-left:20%;
	  margin-right:20%;
	  width:60%;
      display: block;
      font-size: 18px;
      color: #FFFFFF;
      text-align: center;  
      text-decoration: none;
		border-radius:25px;
    }

    .button1:hover {
      background-color: #923d66;
    }
	
.reportGroup1{
	margin-left:20%;
	  margin-right:20%;
	  width:60%;
}

	.nav3 { 
      background-color: #FFFFFF;
      overflow: hidden;
	  float: right;
    }

    .nava3 {
	  background-color: #FFFFFF;
      overflow: hidden;
      padding: 20px 10px;
      float: left;
      display: block;
      font-size: 18px;
      color: rgba(122,2,60,1);
      text-align: center;  
      text-decoration: none;    
    }

    .nava3:hover {
      color: #923d66;
    }

.group1 {
      padding: 5px;
      width: 100%;
      float: left;
	  background-color: rgba(253,242,220,1);
    }
	
.subgroup1{
	float: left;
	width: 20%;
}

.subsubgroup1{
	margin-left:15%; 
	margin-right:15%;
	width: 70%;
	margin-top: 5%;
}

.changeRadius{
	border-radius:20px;
}

.title1{
	text-align:center;
	color:rgba(122,2,60,1);
	font-size:35px;
}

.title2{
	text-align:center;
	color:rgba(122,2,60,1);
	font-size:25px;
}
.subtitle1{
	text-align:center;
	color:rgba(122,2,60,1);
	font-size:20px;
}

.subgroup2{
	float: left;
	width: 60%;
}
.subgroup3{
	float: right;
	width: 20%;
}
.dropdown-menu {
  height: 300px;
  overflow-y: scroll;
}

.building{
	width: 100px;
}

.group2 {
      padding: 5px;
      width: 100%;
      float: left;
	  background-color: #FFFFFF;
    }
.subgroup4{
	float: left;
	width: 33.33%;
}

.img{
	margin-left:15%; 
	margin-right:15%;
	width: 70%;
}

.cl{
	margin-left:48.75%; 
	margin-right:48.75%;
	width: 2.5%;
}

.clickable{
	text-align:center;
	color:rgba(122,2,60,1);
	font-size:15px;
	font-weight:bold;
}

.desc1{
	text-align:center;
	color:rgba(122,2,60,1);
	font-size:15px;
}

.desc{
	text-align:center;
	color: grey;
	font-size:12px;
}

.subgroup5{
	margin-left:10%; 
	margin-right:10%;
	width: 80%;
}

.text{
	color:rgba(122,2,60,1);
	font-size:20px;
}

.photo4{
	margin-left:35%; 
	margin-right:35%;
	width: 30%;
}

.img2{
	margin-left:2.5%; 
	margin-right:2.5%;
	width: 95%;
}

.search2{
	float:right;
	width: 60%;
}


ul
{
    list-style-type: none;
}

.img1{
	width:25%;
	float:left;
}

.info1{
	
	border: 2px solid #fb942b;
	border-radius: 5px;
}

.action1{
	width:25%;
	float:right;
	border: 2px solid #000000;
	border-radius: 25px;
}
.img3{
	width:35%;
	max-width:400px;
	float:left;
	margin-left:5%;
	border-radius:25px;
	overflow:hidden;
	border: 2px solid rgba(122,2,60,1);
}

.desc2{
	width:60%;
	float: right;
}
.desc3{
	text-align:left;
	color:rgba(122,2,60,1);
	font-size:15px;
}
.subgroup6{
	width:50%;
	float:left;
}
.subgroup7{
	width:45%;
	float:right;
	margin-top: 15%;
}

.subgroup8{
	width:45%;
	float:right;
	margin-top: 12%;
}

.clickable1{
	text-align:left;
	color:rgba(122,2,60,1);
	font-size:15px;
	font-weight:bold;
}

.clickable2{
	text-align:left;
	color:rgba(122,2,60,1);
	font-size:15px;
	font-weight:bold;
}

.img4{
	margin-left:30%; 
	margin-right:30%;
	width: 40%;
}

.sub1{
	margin-left:5%; 
	margin-right:5%;
	width: 90%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
